<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>without bootstrap</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{url_for('main_bp.index')}}">Cofffe Hub</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% if current_user.is_authenticated  %}
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a href="{{url_for('main_bp.index')}}" class="nav-link">Home  </a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('user_bp.profile')}}" class="nav-link">Profile</a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('auth_bp.logout')}}" class="nav-link">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('post_bp.post')}}">Writepost <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
      {% endif %}
    </nav>
 
    
<div class="content-section">
  <form action="" method="post" enctype="multipart/form-data">

      {{ form.hidden_tag() }}

      <fieldset class="form-group">
          <legend class="border-bottom mb-4">
              {{legend}}
          </legend>

          <dir class="form-group">
              {{ form.title.label(class="form-control-label")}}

              {% if form.title.errors %}
              {{form.title(class="form-control form-control-lg is-invalid")}}
              <div class="invalid-feedback">
                  {% for error in form.title.errors %}
                  <span>{{error}}</span>
                  {% endfor %}
              </div>
              {% else %}
              {{form.title(class="form-control form-control-lg")}}
              {% endif %}
          </dir>

          <dir class="form-group">
              {{form.content.label(class="form-control-label")}}

              {% if form.content.errors %}
              {{ form.content(class="form-control form-control-lg is-invalid")}}
              <div class="invalid-feedback">
                  {% for error in form.content.errors %}
                  <span>{{error}}</span>
                  {% endfor %}
              </div>
              {% else %}
              {{form.content(class="form-control form-control-lg")}}
              {% endif %}
          </dir>
          <dir class="form-group">
            {{form.hero.label(class="form-control-label")}}

            {% if form.hero.errors %}
            {{ form.hero(class="form-control form-control-lg is-invalid")}}
            <div class="invalid-feedback">
                {% for error in form.hero.errors %}
                <span>{{error}}</span>
                {% endfor %}
            </div>
            {% else %}
            {{form.hero(class="form-control form-control-lg")}}
            {% endif %}
        </dir>

          <dir class="form-group">
              {{form.publish(class="form-control btn-outline-info form-control-lg")}}
          </dir>
       
      </fieldset>
  </form>
</div>
   
  </body>
</html>

