<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
    <title>Coffee Break a Blog Category Flat Bootstarp responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Coffee Break" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="{{url_for('static', filename='css/bootstrap.css')}}" rel='stylesheet' type='text/css' />
    <link href="{{url_for('static', filename='css/style.css')}}" rel='stylesheet' type='text/css' />
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <!---- start-smoth-scrolling---->
    <script type="text/javascript" src="{{url_for('static', filename='js/move-top.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/easing.js')}}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>

    {% block scripts %}

    {% endblock scripts %}
    <!--start-smoth-scrolling-->
</head>

<body>

    
    <!--header-top-starts-->
    <div class="header-top">
        <div class="container">
            <div class="head-main">
                <a href="index.html"><img src="images/logo-1.png" alt="" /></a>
            </div>
        </div>
    </div>
    <!--header-top-end-->
    <!--start-nav-->
    {% block nav %}
        
    {% endblock %}
    <!--end-nav-->

    <!-- script-for-menu -->
    <!-- script-for-menu -->
    <script>
        $("span.menu").click(function () {
            $(" ul.navig").slideToggle("slow", function () { });
        });
    </script>
    <!-- script-for-menu -->
    <!--banner-starts-->
    <div class="banner">
        <div class="container">
            <div class="banner-top">
                <div class="banner-text">
                    <h2>Aliquam erat</h2>
                    <h1>Suspendisse potenti</h1>
                    <div class="banner-btn">
                        <a href="single.html">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--banner-end-->
    <!--about-starts-->
    {% block about_welcome %}
    {% endblock %}

    {% block gallery %}

    {% endblock %}

    {% block contact %}
    {% endblock %}

    {% block about_team %}
    {% endblock %}

    <div class="about">
        <div class="container">
            <div class="about-main">
                <div class="col-md-8 about-left">
                    {% block trending_post %}

                    {% endblock %}


                    <div class="about-tre">
                        {% block spanned_post %}

                        {% endblock %}

                    </div>
                </div>
                <div class="col-md-4 about-right heading">
                    <div class="abt-2">
                        {% block suggested_post %}

                        {%  endblock %}

                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--about-end-->
  
    <!--footer-starts-->
    {% block footer %} {% endblock %}
    <!--footer-end-->
</body>

</html>