{% extends 'layout.html' %}

{% block content %}

<div class="content-section">
    <form action="" method="post">

        {{ form.hidden_tag() }}

        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Create Post
            </legend>

            <dir class="form-group">
                {{ form.title.label(class="form-control-label")}}

                {% if form.title.errors %}
                {{form.title(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.title(class="form-control form-control-lg")}}
                {% endif %}
            </dir>

            <dir class="form-group">
                {{form.content.label(class="form-control-label")}}

                {% if form.content.errors %}
                {{ form.content(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.content.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.content(class="form-control form-control-lg")}}
                {% endif %}
            </dir>

            <dir class="form-group">
                {{form.submit(class="form-control btn-outline-info form-control-lg")}}
            </dir>
         
        </fieldset>
    </form>
</div>
{% endblock content %}